* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(45, 53, 74);
}
.contenant{
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px none;
    border-radius:20px ;
    width: 280px;
    height: 400px;
    background-color: rgb(45, 53, 74) ;
    color: aliceblue;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);*/
    filter: drop-shadow(2px 2px 10px black);
}

.bouton{
    position: absolute;
}
button{
    position: relative;
    padding: 10px;
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: aliceblue ;
    filter: drop-shadow(2px 2px 10px black);
    
}
.orange{
    color: white;
    background-color: rgb(55, 80, 101);
    
}
.egal{
    background-color: rgb(233, 100, 74)
}
.resultat{
    height: 40px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.resultat p {
    text-align: right;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: aliceblue;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:10px ;
}
button:active{
    filter: drop-shadow(2px 2px 10px rgb(38, 22, 74));
}
